.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
}

.form_title {
  margin-bottom: 24px;
}

.form_title h2 {
  text-align: center;
  line-height: 1;
}

:global .input__container,
:global .input__container .input_size_default {
  width: 100%;
}

.form_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
  margin-bottom: 80px;
}

.form_links {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form_links_item {
  color: #4C4CFF;
}