.burger_constructor {
  padding: 100px 0 16px;
  width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.constructor_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.constructor_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 400px;
}

.constructor_list_item {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding-right: 16px;
}

.constructor_list_item div {
  max-width: 100%;
}

.order_block {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.total {
  display: flex;
  align-items: center;
  gap: 8px;
}

.constructor_list_item_top,
.constructor_list_item_bottom {
  padding-left: 32px;
}