.profile {
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 60px;
}

.profile_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  flex: 1;
}

.profile_nav {
  display: flex;
  flex-direction: column;
}

.profile_nav_link {
  height: 64px;
  display: flex;
  align-items: center;
  color: #8585ad;
}

.profile_nav_link_active {
  color: #F2F2F3;
}

.logout {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.profile_content {
  display: flex;
  align-items: center;
  padding-top: 40px;
  flex: 2;
}

.profile_form {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.profile_form_btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}