.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  width: 720px;
  background: #1C1C21;
  padding: 60px 40px;
  border-radius: 20px;
}

.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal_header svg {
  cursor: pointer;
}

.modal_body {
  width: 520px;
  margin: 0 auto;
}