.header {
  width: 100%;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1C1C21;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
  max-width: 1400px;
}

.header_nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
  border-radius: 20px;
}

.nav_link_active {
  color: #F2F2F3;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile_link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: .6;
}

.profile_link_active {
  opacity: 1;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}