.header {
  width: 100%;
  padding: 16px 280px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 112px;
  background: #1C1C21;
}

.nav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav_link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 20px;
  border-radius: 20px;
}

.nav_link_active {
  color: #F2F2F3;
}

.profile_link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: .6;
}

.profile_link_active {
  opacity: 1;
}